@import "mediaqueries.css";

@import "navigataur.css";

@import "lazyloaded.css";

@import "form.css";

/* BASICS */

html {
  background: #ffffff;
  /* HEADER */

  /* NAV */

  /* BANNERS */

  /* WIDGETS */

  /* HOME */

  /* PRODUCT */

  /* NEWS */

}

html h1,
html h2 {
  color: #03457f;
}

html p {
  margin-top: 0;
  color: #808080;
}

html ul {
  margin-top: 0;
  color: #808080;
  list-style-position: outside;
}

html ul li {
  padding-bottom: 10px;
}

html header {
  margin-top: 20px;
  margin-bottom: 20px;
}

html header #quotes {
  line-height: 35px;
}

html header #quotes p {
  margin-bottom: 0;
  font-size: 18px;
  color: #03457f;
}

html header #quotes p:before {
  font-size: 35px;
  color: #aaaaaa;
  content: '"';
}

html header #quotes p:after {
  font-size: 35px;
  color: #aaaaaa;
  content: '"';
}

html header #logo img {
  float: right;
}

html header #logo a {
  color: #03457f;
}

html nav {
  font-size: 18px;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YxZjFmMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjE4JSIgc3RvcC1jb2xvcj0iI2YxZjFmMSIgc3RvcC1vcGFjaXR5PSIwLjk4Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkM2QzZDMiIHN0b3Atb3BhY2l0eT0iMC45MSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #f1f1f1 0%, rgba(241, 241, 241, 0.98) 18%, rgba(211, 211, 211, 0.91) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f1f1f1), color-stop(18%, rgba(241, 241, 241, 0.98)), color-stop(100%, rgba(211, 211, 211, 0.91)));
  background: -webkit-linear-gradient(top, #f1f1f1 0%, rgba(241, 241, 241, 0.98) 18%, rgba(211, 211, 211, 0.91) 100%);
  background: -o-linear-gradient(top, #f1f1f1 0%, rgba(241, 241, 241, 0.98) 18%, rgba(211, 211, 211, 0.91) 100%);
  background: -ms-linear-gradient(top, #f1f1f1 0%, rgba(241, 241, 241, 0.98) 18%, rgba(211, 211, 211, 0.91) 100%);
  background: linear-gradient(to bottom, #f1f1f1 0%, rgba(241, 241, 241, 0.98) 18%, rgba(211, 211, 211, 0.91) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#e8d3d3d3', GradientType=0);
}

html nav ul {
  border-top: 1px solid #eaeaea;
}

html nav ul li {
  display: inline;
  float: left;
  padding: 13px 25px;
  border-right: 1px solid #cccccc;
  border-left: 1px solid #eaeaea;
}

html nav ul li:hover a {
  color: #ffffff;
}

html nav ul li:first-child {
  border-left: 0;
}

html nav ul li:last-child {
  border-right: 0;
}

html nav ul li a {
  text-decoration: none;
}

html nav ul li a:hover {
  color: #ffffff;
}

html nav ul li:hover {
  background-color: #aaaaaa;
}

html nav ul li.active {
  background-color: #aaaaaa;
}

html nav ul li.active a {
  color: #ffffff;
}

html #cycle .bannerhome {
  margin-bottom: 0!important;
  margin-bottom: 20px!important;
  overflow: hidden;
}

html #nav {
  position: relative;
  bottom: 50px;
  z-index: 4;
  float: right;
  width: 100%;
  margin-right: 2.5%;
  text-align: right;
}

html #nav a {
  float: right;
  width: 15px;
  height: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  font-size: 0;
  color: #03457F;
  background-color: #03457f;
  background-color: #ffffff;
  -moz-border-radius: 30px;
       border-radius: 30px;
  box-shadow: 1px 1px 5px #000;
}

html #nav a.activeSlide {
  background-color: #808080;
}

html .banner {
  height: 200px;
  margin-bottom: 20px;
  overflow: hidden;
}

html #widgets .widget {
  float: left;
  width: 48.7%;
  margin-right: 2.5%;
  margin-bottom: 2.5%;
  color: #808080;
  background-color: #eaeaea;
}

html #widgets .widget header {
  margin-top: 0!important;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YxZjFmMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjE4JSIgc3RvcC1jb2xvcj0iI2YxZjFmMSIgc3RvcC1vcGFjaXR5PSIwLjk4Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkM2QzZDMiIHN0b3Atb3BhY2l0eT0iMC45MSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #f1f1f1 0%, rgba(241, 241, 241, 0.98) 18%, rgba(211, 211, 211, 0.91) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f1f1f1), color-stop(18%, rgba(241, 241, 241, 0.98)), color-stop(100%, rgba(211, 211, 211, 0.91)));
  background: -webkit-linear-gradient(top, #f1f1f1 0%, rgba(241, 241, 241, 0.98) 18%, rgba(211, 211, 211, 0.91) 100%);
  background: -o-linear-gradient(top, #f1f1f1 0%, rgba(241, 241, 241, 0.98) 18%, rgba(211, 211, 211, 0.91) 100%);
  background: -ms-linear-gradient(top, #f1f1f1 0%, rgba(241, 241, 241, 0.98) 18%, rgba(211, 211, 211, 0.91) 100%);
  background: linear-gradient(to bottom, #f1f1f1 0%, rgba(241, 241, 241, 0.98) 18%, rgba(211, 211, 211, 0.91) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#e8d3d3d3', GradientType=0);
}

html #widgets .widget header p {
  padding: 10px 20px;
  color: #808080;
}

html #widgets .widget .content {
  float: left;
  padding: 0 20px 20px 20px;
}

html #widgets .widget .content .left {
  float: left;
  margin-right: 5%;
}

html #widgets .widget .content .left img {
  margin-bottom: 10px;
  border: 1px solid #03457f;
}

html #widgets .widget .content .right {
  float: left;
  width: 51%;
}

html #widgets .widget .content .right h3 {
  margin-bottom: 7px;
}

html #widgets .widget .content .right h3 a {
  color: #03457f;
}

html #widgets .widget .content .right h3 a:hover {
  color: #808080;
}

html #widgets .widget .content .right p {
  font-size: 12px;
  line-height: 20px;
}

html #widgets .widget .content ul {
  list-style-position: outside;
}

html #widgets .widget .content ul li {
  padding-bottom: 12px;
  margin-left: 18px;
  line-height: 20px;
}

html #widgets .widget .content ul li a {
  color: #03457f;
}

html #widgets .widget .content ul li a:hover {
  color: #808080;
}

html #widgets .widget .sort ul li {
  padding-bottom: 0;
}

html #widgets .widget:nth-child(2n+2) {
  margin-right: 0!important;
}

html #intro header hgroup h1 {
  margin-bottom: 0;
  font-size: 3em;
}

html #intro header hgroup h2 {
  margin-bottom: 0;
  font-size: 2em;
}

html .product #product_img {
  float: left;
  width: 20%;
  margin: 2.5% 0 2.5% 7.5%;
}

html .product #info {
  float: left;
  width: 70%;
  min-height: 543px;
  margin-left: 2.5%;
  text-align: right;
  background-image: url(../images/product_banner_bg.jpg);
}

html .product #info h1 {
  margin-top: 17%;
  margin-right: 11.5%;
  line-height: 0.9em;
  color: #03457f;
}

html .product #info p {
  float: right;
  width: 75%;
  margin-right: 11.5%;
}

html .product #categories,
html .product #widgets {
  float: left;
  width: 18.7%;
  margin-right: 1.5%;
  margin-bottom: 1%;
  margin-left: 1.5%;
}

html .product #categories {
  padding-bottom: 20px;
}

html .product #categories #accordion .title {
  margin-top: 0;
  margin-bottom: 2.5%;
  cursor: pointer;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YxZjFmMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjE4JSIgc3RvcC1jb2xvcj0iI2YxZjFmMSIgc3RvcC1vcGFjaXR5PSIwLjk4Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkM2QzZDMiIHN0b3Atb3BhY2l0eT0iMC45MSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #f1f1f1 0%, rgba(241, 241, 241, 0.98) 18%, rgba(211, 211, 211, 0.91) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f1f1f1), color-stop(18%, rgba(241, 241, 241, 0.98)), color-stop(100%, rgba(211, 211, 211, 0.91)));
  background: -webkit-linear-gradient(top, #f1f1f1 0%, rgba(241, 241, 241, 0.98) 18%, rgba(211, 211, 211, 0.91) 100%);
  background: -o-linear-gradient(top, #f1f1f1 0%, rgba(241, 241, 241, 0.98) 18%, rgba(211, 211, 211, 0.91) 100%);
  background: -ms-linear-gradient(top, #f1f1f1 0%, rgba(241, 241, 241, 0.98) 18%, rgba(211, 211, 211, 0.91) 100%);
  background: linear-gradient(to bottom, #f1f1f1 0%, rgba(241, 241, 241, 0.98) 18%, rgba(211, 211, 211, 0.91) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#e8d3d3d3', GradientType=0);
}

html .product #categories #accordion .title p {
  padding: 10px 20px;
  margin-bottom: 0;
  color: #808080;
}

html .product #categories #accordion .title p:hover {
  color: #03457f;
}

html .product #categories #accordion .ui-accordion-header-active p {
  color: #03457f !important;
}

html .product #categories #accordion ul.content {
  padding: 10px 20px;
  margin-top: -10px;
  margin-bottom: 10px;
  list-style: none;
  background-color: #eaeaea;
}

html .product #categories #accordion ul.content li {
  padding-bottom: 0;
}

html .product #categories #accordion ul.content li a {
  font-size: 15px;
  color: #03457f;
}

html .product #categories #accordion ul.content li a:hover {
  color: #808080;
}

html .product #widgets .widget {
  width: 100%;
}

html .product #content {
  float: left;
  width: 53.6%;
  margin-right: 1.5%;
  margin-bottom: 2.5%;
  margin-left: 1.5%;
}

html .product #content ul {
  padding-left: 19px!important;
}

html .news article {
  width: 75%;
  padding-bottom: 30px;
  margin-bottom: 45px;
  border-bottom: 1px solid #cccccc;
}

html .news article h1 {
  margin-bottom: 0;
}

html .news article h1 a {
  color: #03457f;
}

html .news article h1 a:hover {
  color: #808080;
}

html .news article h3 {
  color: #808080;
}

html .news article a.readmore,
html .news article a.back {
  color: #03457f;
}

html .news article a.readmore:hover,
html .news article a.back:hover {
  color: #808080;
}

html .news nav.news-archive {
  padding: 5px 20px;
  text-align: right;
}

html .news nav.news-archive a {
  padding-left: 10px;
  color: #03457f;
}

html .news nav.news-archive a:hover {
  color: #808080;
}

html .news #widgets {
  float: left;
  width: 18.7%;
  margin-right: 1.5%;
  margin-bottom: 1%;
  margin-left: 1.5%;
}

html .news #widgets .widget {
  width: 100%;
}

html .news #content {
  float: left;
  width: 53.6%;
  margin-right: 1.5%;
  margin-bottom: 2.5%;
  margin-left: 1.5%;
}

html .news #content ul {
  padding-left: 19px!important;
}

html footer {
  width: 100%;
  clear: both;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YxZjFmMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjE4JSIgc3RvcC1jb2xvcj0iI2YxZjFmMSIgc3RvcC1vcGFjaXR5PSIwLjk4Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkM2QzZDMiIHN0b3Atb3BhY2l0eT0iMC45MSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #f1f1f1 0%, rgba(241, 241, 241, 0.98) 18%, rgba(211, 211, 211, 0.91) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f1f1f1), color-stop(18%, rgba(241, 241, 241, 0.98)), color-stop(100%, rgba(211, 211, 211, 0.91)));
  background: -webkit-linear-gradient(top, #f1f1f1 0%, rgba(241, 241, 241, 0.98) 18%, rgba(211, 211, 211, 0.91) 100%);
  background: -o-linear-gradient(top, #f1f1f1 0%, rgba(241, 241, 241, 0.98) 18%, rgba(211, 211, 211, 0.91) 100%);
  background: -ms-linear-gradient(top, #f1f1f1 0%, rgba(241, 241, 241, 0.98) 18%, rgba(211, 211, 211, 0.91) 100%);
  background: linear-gradient(to bottom, #f1f1f1 0%, rgba(241, 241, 241, 0.98) 18%, rgba(211, 211, 211, 0.91) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#e8d3d3d3', GradientType=0);
}

html footer p {
  padding-top: 200px;
  padding-bottom: 20px;
  margin-bottom: 0;
  color: #03457f;
  text-align: center;
}